<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.silent.fiveghost.guide">

    package="com.silent.fiveghost.guide">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="com.silent.fiveghost.guide.app.UseDeviceSizeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.silent.fiveghost.guide.ui.activitys.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" />

        <activity android:name="com.silent.fiveghost.guide.ui.activitys.RegisterActivity" />
        <activity android:name="com.silent.fiveghost.guide.ui.activitys.FindPwdActivity" />
        <activity android:name="com.silent.fiveghost.guide.ui.activitys.InwardWalkingActivity" />
        <activity android:name="com.silent.fiveghost.guide.ui.BaseActivity" />
        <activity android:name="com.silent.fiveghost.guide.ui.activitys.RouteDetailsActivity" />
        <activity android:name="com.silent.fiveghost.guide.ui.activitys.OrderdetailsActivity" />
        <activity android:name="com.silent.fiveghost.guide.ui.activitys.OrderGrabbingServiceActivity" />
        <activity android:name="com.silent.fiveghost.guide.ui.activitys.SecuritySettingActivity" />
        <activity android:name="com.silent.fiveghost.guide.ui.activitys.MyRouteActivity"></activity>
    </application>

</manifest>